/* resources */
/* icons from flaticon.com/interface-icons */
@import '~@flaticon/flaticon-uicons/css/all/all';

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: #f3f3f6;
    --input: #f3f3f6;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: #122aff;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 14% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 240 14% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: #122aff;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  /* presets */
  .fi {
    @apply flex justify-center items-center;
  }
}
